 <% if @team.new_record? %>
    <h5>
      <%= link_to 'Create or join a team', teams_path %> to start a game.
    </h5>
  <% else %>
    <div class="input-prepend">
      <span class="add-on">TEAM NAME</span>
      <input class="span4" id="teamNameInput" type="text" value="<%= @team.name %>">
    </div>
    <div class="input-prepend">
      <span class="add-on">TEAM ID</span>
      <input class="span4" id="teamIdInput" type="text" value="<%= @team.id %>">
    </div>

    <h5>
      <%= link_to 'Invite', teams_path %> people to join your team!
    </h5>
  <% end %>
