      <div class="jumbotron">
        <h1>Welcome to Midway!</h1>
        <blockquote>
          <p>
            Three of their first-line carriers, Admiral. Isn't that worth at least a "hot diggity damn"?
          </p>
        </blockquote>
        <%= image_tag('midway.jpg') %>
        <br />
        <br />
        <p class="lead">
          Develop your solution in any language
          <br />
          Simple HTTP request API
          <br />
          Test your bots against random test maps
          <br />
          Enter tournaments and battle others
        </p>
        <br />
        <%= link_to "View Api docs now!", api_path, :class => "btn btn-large btn-success" %>

      </div>

