<div class="well">
  <h4>
    Hello this is your api key! Keep it a secret :) So nobody will destroy your score.
  </h4>

  <div class="input-prepend">
    <span class="add-on">HTTP-MIDWAY-API-KEY</span>
    <input class="span4" id="apiKeyInput" type="text" value="<%= @api_key %>">
  </div>

  <%= render :partial => "dashboard/team" %>

</div>
