<div class="well">

<h4>
  Hello this is your teams key! Keep it a secret :) So nobody will destroy your score.
</h4>

<div class="input-prepend">
  <span class="add-on">HTTP_MIDWAY_API_KEY</span>
  <input class="span4" id="apiKeyInput" type="text" value="<%= @key %>">
</div>
<div class="input-prepend">
  <span class="add-on">TEAM ID</span>
  <input class="span4" id="userIdInput" type="text" value="<%= @user_id %>">
</div>

</div>
